.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid #ddd;
  z-index: 1000;
}

.nav-button {
  font-size: 15px;
  padding: 5px 20px;
  border: none;
  border-radius: 8px;
  color: rgb(54 145 220);
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #ffffff;
}

.nav-button:hover {
  opacity: 0.9;
  color: #ffffff;
  background-color: rgb(21, 108, 179);
}
