/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  padding-top: 110px;
}

.home-title {
  display: flex;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #5d5d5d;
  justify-content: center;
}

.button-group {
  display: flex;
  flex-direction: column; /* 縦並びに変更 */
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

.nav-button {
  flex: 1;
  margin: 0 5px;
  padding: 12px 0;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #2563eb;
  transform: scale(1.03);
}

.circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.menu-now {
  display: flex;
  flex-direction: column;
  background-color: rgb(203, 224, 243);
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
  gap: 12px;
}

.today-sum-container,
.remaining-amount-container {
  display: flex;
  justify-content: space-between;
}

.today-sum-value,
.remaining-amount-value {
  color: rgb(54, 145, 220);
  font-weight: 600;
}

.status-box {
  font-size: 18px;
}

.loading {
  color: gray;
}

.error {
  color: red;
}

.last-weight {
  color: #333;
}

.blue {
  background-color: #007bff;
}

.green {
  background-color: #28a745;
}

.purple {
  background-color: #6f42c1;
}
