.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  margin-top: 150px;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 400px;
}

.login-input {
  width: 80%;
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.login-button {
  display: block;
  width: 80%;
  margin: 6px 0;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.login-button.submit {
  background-color: rgb(54 145 220);
  color: white;
  border: none;
}

.login-button.register {
  border: 1.5px solid rgb(54 145 220);
  background-color: white;
  color: rgb(54 145 220);
}

.login-message {
  margin-top: 16px;
  font-size: 14px;
  color: #4b5563;
  text-align: center;
}

.password-forget-message {
  cursor: pointer;
}
